<!-- partials/add_exercise_form.html -->

<!-- Exercise Modal Trigger -->
<button id="openExerciseModalBtn" class="add-btn" title="Add an Exercise">+</button>

<!-- Exercise Modal -->
<div id="exerciseModal" class="modal">
  <div class="modal-content">
    <span id="closeExerciseModal" class="close-btn">&times;</span>
    <form action="/add_exercise" method="POST">

        <!-- Default Exercise Selection -->
        <label for="log-date">Date:</label>
        <input type="date" id="log-date" name="log_date" value="{{ date.today().isoformat() }}" required>
        <br><br>
        <label for="default-exercise" style="font-weight: bold; display: block; text-align: center;">Choose an Exercise:</label> <br>
        <select id="default-exercise" name="default_exercise">
          <option value="">-- Select an exercise --</option>
          <option value="Running">Running</option>
          <option value="Jogging">Jogging</option>
          <option value="Walking">Walking</option>
          <option value="Cycling">Cycling</option>
          <option value="Swimming (casual)">Swimming (casual)</option>
          <option value="Swimming (vigorous)">Swimming (vigorous)</option>
          <option value="Yoga">Yoga</option>
          <option value="Pilates">Pilates</option>
          <option value="Weight Lifting">Weight Lifting</option>
          <option value="HIIT">HIIT Workout</option>
          <option value="Aerobics">Aerobics Class</option>
          <option value="Rowing">Rowing Machine</option>
          <option value="Jump Rope">Jump Rope</option>
          <option value="Dancing">Dancing</option>
          <option value="Hiking">Hiking</option>
        </select>

        <br><br>

        <label for="default-minutes">Minutes:</label>
        <input type="number" id="default-minutes" name="default_minutes" min="1">

        <div style="text-align: center;">
          <button type="submit" name = "submit_default">Add</button>
        </div>

        <br>

        <!-- Custom Exercise Section -->
        <p style="font-weight: bold; text-align: center;">OR Add Your Own Exercise:</p>
        <br> 
        <label for="custom-name">Exercise Name:</label>
        <input type="text" id="custom-name" name="custom_name_exe">

        <br><br>

        <label for="custom-minutes">Minutes:</label>
        <input type="number" id="custom-minutes" name="custom_minutes" min="1">

        <br><br>

        <label for="custom-calories">Estimated Calories Burned (per 30 min):</label>
        <input type="number" id="custom-calories" name="custom_calories_exe" min="0">

        <br><br>

        <div style="text-align: center;">
          <button type="submit" name = "submit_custom">Add Exercise</button>
        </div>
        </form>
      </div>
    </div>

