<!DOCTYPE html> <!-- This is a very rough copy-paste draft of the leaderboard page - copied from the calorie count page -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FitTrack Leaderboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <!-- Shared Header -->
  {% include 'header.html' %}

  <!-- Main content for Leaderboard -->
  <main>
    <h2>Leaderboard</h2> <br>

    <p class="subheading">Today's scoreboard</p>
    <!----->

    <p class="subheading">Team:</p>
    <!---->

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Net Calories</th>
          <th>Exercise Calories</th>
          <th>Food Calories</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in scoreboard %}
<tr>
<td>{{ loop.index }}</td>
<td><a href="{{ url_for('user_detail', user_id=entry.user.id) }}">{{ entry.user.full_name }}</a></td>
<td>{{ entry.net | round(2) }}</td>
<td>{{ entry.exercise_calories | round(2) }}</td>
<td>{{ entry.food_calories | round(2) }}</td> 
</tr>
{% endfor %}

</main>


  <script src="/static/JS/calorie_counter.js"></script>

</body>


<footer>
  &copy; 2025 FitTrack. All rights reserved.
</footer>

</html>