<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/fittracker_logo.png') }}">
</head>

{% extends "baselogin.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1 class="login__title">
    {% if session.get('username') %}
        Welcome Back to FitTrack, {{ session['username'] }}!
    {% else %}
        Log In To FitTrack
    {% endif %}
</h1>

<form action="{{ url_for('login') }}" method="POST" class="login__inputs">
    <div class="login__box" style="position: relative;">
        <i class="bx bx-user" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
        <input type="text" id="username" name="username" class="login__input" placeholder="Username" required style="padding-left: 20px;">
    </div>
    <div class="login__box" style="position: relative;">
        <i class="bx bx-lock" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
        <input type="password" id="password" name="password" class="login__input" placeholder="Password" required style="padding-left: 20px; padding-right: 25px;">
        <i class="bx bx-show" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
    </div>
    <div class="login__check">
        <label class="login__check-label">
            <input type="checkbox" id="remember" name="remember_me" class="login__check-input">
            <span>Remember me</span>
        </label>
        <a href="{{ url_for('reset_pass') }}" class="login__forgot">Forgot password?</a>
    </div>
    <button type="submit" class="login__button">Sign in</button>
</form>
<p class="login__register">
    Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a>
</p>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        
        // Toggle the eye icon
        this.classList.toggle('bx-show');
        this.classList.toggle('bx-hide');
    });
</script>

{% endblock %}