{% extends "baselogin.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<h1 class="login__title">Forgot Password</h1>
<form method="POST" action="{{ url_for('reset_password_token', token=token) }}">
    <div class="login__box">
        <input type="password" id="password" name="password" class="login__input" placeholder="New Password" required>
    </div>
    <div class="login__box">
        <input type="password" id="confirm_password" name="confirm_password" class="login__input" placeholder="Confirm New Password" required>
    </div>
    <input type="button" class="password_button" id="button" value="Show" onclick="togglePassword()">
    <button type="submit" class="login__button">Submit</button>
</form>
<p class="login__register">
    <a href="{{ url_for('login') }}">Back to Login</a>
</p>
<p class="login__register">
    <a href="{{ url_for('signup') }}">Sign Up Instead</a>
</p>

<script>
    function togglePassword() {
        const passwordField = document.getElementById("password");
        const confirmPasswordField = document.getElementById("confirm_password");
        const toggleButton = document.getElementById("button");

        if (passwordField.type === "password" && confirmPasswordField.type === "password") {
            passwordField.type = "text";
            confirmPasswordField.type = "text";
            toggleButton.value = "Hide";
        } else {
            passwordField.type = "password";
            confirmPasswordField.type = "password";
            toggleButton.value = "Show";
        }
    }
</script>
{% endblock %}