{% extends "baselogin.html" %}

{% block title %}Reset Username/Password{% endblock %}

{% block content %}

<h1 class="login__title">Reset Username or Password</h1>
<form action="{{ url_for('reset_pass') }}" method="POST">
    <div class="login__box">
        <input type="email" id="email" name="email" class="login__input" placeholder="Email Address" required>
    </div>
    <button type="submit" class="login__button">Submit</button>
</form>
<p class="login__register">
    <a href="{{ url_for('login') }}">Back to Login</a>
</p>
{% endblock %}